{% extends 'base.html' %}

{%block container %}

<h1>Post List</h1>

<div class="row">

    {% for post in posts %}

    {% include 'posts/_post.html' %}
 
</div>
{% endfor %}

<script>
    const likeButtons = document.querySelectorAll('.like-button')
    likeButtons.forEach(function(button){//각 버튼에 대한 addEventListener를 위한 반복
        button.addEventListener('click', function(event){
            console.log(event)
            const postId = event.target.dataset.id //지정한 변수에는 data-id를 사용했었으므로
            axios.get(`/posts/${postId}/like/`)//요청을 보낼 주소(urls.py)
                    .then(function(response){
                        // console.log(response)
                        //response.data가 받은 obejct-> {liked: true, count: 1} 
                        document.querySelector(`#like-count-${postId}`).innerText = response.data.count
                        if(response.data.liked){
                            //i 태그에 대한 정보는 event.target에 들어 있음
                            event.target.classList.remove('far')//like-button에 지정한 클래스를 수정
                            event.target.classList.add('fas')
                        }else{
                            event.target.classList.remove('fas')//like-button에 지정한 클래스를 수정
                            event.target.classList.add('far')
                        }
                    })
        })
    })
    
    const commentForms = document.querySelectorAll('.comment-form')
    commentForms.forEach(function(form){
        form.addEventListener('submit', function(event){
            event.preventDefault()
            console.log(event)
            // event.target == form
            const data = new FormData(event.target)
            // Inspect FormData
            for (const item of data.entries()){
                console.log(item)
            }
            axios.post(event.target.action, data)
                    .then(function(response){
                        // console.log(response)
                        const comment = response.data
                        const commentList = document.querySelector(`#comment-list-${comment.postId}`)
                        const newComment = `<div class = "card-text">
                                              <strong><a href = "/${comment.username}/">${comment.username }</a> </strong> ${ comment.content }
                                              <a href="/posts/${comment.postId}/comments/${comment.id}/delete/">Del</a>
                                            </div>`
                        commentList.insertAdjacentHTML('beforeend',newComment)
                        event.target.reset()
                    })
        })
    })
</script>

{% endblock %}
